/* global */

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Accordion */
.accordion-ele{
    background-color: aliceblue;
    width: 300px;
    text-align: left;
    margin: auto;
}

.accordion-ele button{
    float: right;
}

.accordion-ele p{
    width: 50ch;
}

/* StarRating */
.active{
    color: rgb(241, 218, 6);
}

/* Slicer */
.product-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.products-section{
    padding: 10px;
    max-width:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-ele{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* load more products */
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    text-align: center;
}

.product-div{
    border: solid 1px grey;
    box-shadow: -10px 10px 9px grey;
}

.product-div:hover{
    border: solid 1px grey;
    box-shadow: -10px 10px 9px grey;
    border-radius: 20px;
    transform:scale(1.05)
}

/* sidemenu */

.sidemenu{
    border: solid 1px grey;
    width:300px;
    height:100%;
    background-color: aliceblue;
}

/* QR container */

.qr-container{
    width:400px;
    text-align: center;
    margin: 20px auto;
    background-color:aliceblue;
    padding: 30px 15px;
}

.qr-container button{
    margin: 20px 10px;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px grey;
}

.qr-container input{
    margin: 20px 10px;
    padding: 10px 5px;
    border: solid 1px grey;
}

/* theme */
.theme-container button{
    margin: 20px 10px;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px grey;
}

.light{
    color:black;
    background-color: white;
}

.dark{
    color:white;
    background-color: black;
}

.theme-container{
    height:100vh;
}

/* Scroll */

.scroll-p{
    height:20px;
    background-color: rgb(202, 222, 240);
    position: sticky;
    top:0;
    text-align: center;
}

/* Custom tabs */

.tabs-container{
    margin: auto;
    width:100vw;
    background-color: aliceblue;
    height:100vh;
    text-align:center ;
}

.tab-container{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.tab-name{
    border: solid 1px grey;
    padding:10px 15px;
}

.tab-name:hover{
    background-color: rgb(229, 241, 252);
}

/* Modal */
.modal-container{
    width:100vw;
    height:100vh;
    background-color: aliceblue;
    text-align: center;
}

.modal{
    display: flex;
    justify-content:space-between;
    border: solid 1px grey;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    margin: 30px auto;
}

/* GithubProfile */
.github-profile-container{
    width:80vw;
    height:85vh;
    background-color: aliceblue;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.github-profile-container button{
    padding: 10px 15px;
    background-color: white;
    border: solid 1px grey;
}

.github-profile-container input{
    margin: auto 10px;
    padding: 10px 5px;
    border: solid 1px grey;
}

.github-profile-container img{
    border-radius: 40%;
}

.profile-section{
    margin: 30px 0;
}

/* Autocomplete */

.autocomplete{
    text-align: center;
    background-color: aliceblue;
    min-height: 600px;
}

.autocomplete .button{
    margin: 20px 10px;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px grey;
}

.autocomplete button{
    background-color: aliceblue;
    border:none;
}

.autocomplete input{
    margin: 20px 10px;
    padding: 10px 5px;
    border: solid 1px grey;
}

/* Game */

.game{
    text-align: center;
    margin-top: 200px;
}

.game .button{
    width:60px;
    height:60px;
    vertical-align: middle;
    background-color: azure;
    border: solid 0.001px grey;
    font-size: larger;
    color: red;
}

.restart{
    background-color: white;
    border: solid 1px grey;
    cursor: pointer;
    color: black;
    margin: 30px 0;
    padding: 10px 5px;
}

.winner{
    margin: 20px 0 0 0;
}