/* global */

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Accordion */
.accordion-ele{
    background-color: aliceblue;
    width: 300px;
    text-align: left;
    margin: auto;
}

.accordion-ele button{
    float: right;
}

.accordion-ele p{
    width: 50ch;
}

/* StarRating */
.active{
    color: rgb(241, 218, 6);
}

/* Slicer */
.product-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.products-section{
    padding: 10px;
    max-width:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-ele{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* load more products */
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    text-align: center;
}

.product-div{
    border: solid 1px grey;
    box-shadow: -10px 10px 9px grey;
}

.product-div:hover{
    border: solid 1px grey;
    box-shadow: -10px 10px 9px grey;
    border-radius: 20px;
    transform:scale(1.05)
}

/* sidemenu */

.sidemenu{
    border: solid 1px grey;
    width:300px;
    height:100%;
    background-color: aliceblue;
}

/* QR container */

.qr-container{
    width:400px;
    text-align: center;
    margin: 20px auto;
    background-color:aliceblue;
    padding: 30px 15px;
}

.qr-container button{
    margin: 20px 10px;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px grey;
}

.qr-container input{
    margin: 20px 10px;
    padding: 10px 5px;
    border: solid 1px grey;
}

/* theme */
.theme-container button{
    margin: 20px 10px;
    padding: 10px 5px;
    background-color: white;
    border: solid 1px grey;
}

.light{
    color:black;
    background-color: white;
}

.dark{
    color:white;
    background-color: black;
}

.theme-container{
    height:100vh;
}

/* Scroll */

.scroll-p{
    height:20px;
    background-color: rgb(202, 222, 240);
    position: sticky;
    top:0;
    text-align: center;
}