/* global */

*{
    scroll-behavior: smooth;
}

/* Accordion */
.accordion-ele{
    background-color: aliceblue;
    width: 300px;
    text-align: left;
    margin: auto;
}

.accordion-ele button{
    float: right;
}

.accordion-ele p{
    width: 50ch;
}

/* StarRating */
.active{
    color: rgb(241, 218, 6);
}

/* Slicer */
.product-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.products-section{
    padding: 10px;
    max-width:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-ele{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* load more products */
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}

.product-div{
    border: solid 1px grey;
    box-shadow: -10px 10px 9px grey;
}

.product-div:hover{
    border: solid 1px grey;
    box-shadow: -10px 10px 9px grey;
    border-radius: 20px;
    transform:scale(1.05)
}

/* sidemenu */

.sidemenu{
    border: solid 1px grey;
    width:300px;
    height:100%;
    background-color: aliceblue;
}